[submodule "benches/FastChat"]
	path = benches/FastChat
	url = https://github.com/Pupy101/FastChat.git
	branch = giga
[submodule "benches/LiveBench"]
	path = benches/LiveBench
	url = https://github.com/Pupy101/LiveBench.git
	branch = giga
[submodule "benches/LiveCodeBench"]
	path = benches/LiveCodeBench
	url = https://github.com/Pupy101/LiveCodeBench.git
	branch = giga
[submodule "benches/RuLLMArena"]
	path = benches/RuLLMArena
	url = https://github.com/Pupy101/ru_llm_arena.git
	branch = giga
[submodule "benches/evalplus"]
	path = benches/evalplus
	url = https://github.com/Pupy101/evalplus.git
	branch = giga
[submodule "benches/repoqa"]
	path = benches/repoqa
	url = https://github.com/Pupy101/repoqa.git
	branch = giga
[submodule "benches/cruxeval"]
	path = benches/cruxeval
	url = https://github.com/Pupy101/cruxeval.git
	branch = giga
[submodule "benches/aider"]
	path = benches/aider
	url = https://github.com/ArtiomNosov/aider
	branch = giga
[submodule "benches/Multi-IF"]
	path = benches/Multi-IF
	url = https://github.com/ArtiomNosov/Multi-IF.git
	branch = giga
[submodule "benches/tau2-bench"]
	path = benches/tau2-bench
	url = https://github.com/Skripkon/tau2-bench
[submodule "benches/arena-hard-auto"]
	path = benches/arena-hard-auto
	url = https://github.com/Pupy101/arena-hard-auto.git
	branch = giga
