# GigaChat

GIGA_BASE_URL=...
GIGA_AUTH_URL=...           # url for authorization        | optional var
GIGA_ROUTE_CHAT=...         # default '/chat/completions'  | optional var
GIGA_CREDENTIALS=...        # base64 from <login>:<pass>   | optional var
GIGA_SCOPE=...              # for Enablers only            | optional var
GIGA_PROFANITY_CHECK=...    # true|false                   | optional var
GIGA_TIMEOUT=100            # default 20                   | optional var
GIGA_COUNT_RETRIES=5        # default 5                    | optional var 

# OpenAI

OPENAI_API_KEY=<key>
OPENAI_API_BASE=<url>
